.modal {
  position: absolute;
  /* top: 100px; */
  height: 100dvh;
  left: -120%;
  right: unset;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  color: #f9f9f9;
  transition: all 1s linear;
}

@media (max-width: 768px) {
  .modal {
    display: none;
  }
}
