.hero-fieldset {
  width: 50%;
}

.hero-fieldset span {
  font-size: 10px;
}

.hero-fieldset input {
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  outline: none;
  border: 0;
}

@media (max-width: 768px) {
  .hero-fieldset {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}
